.customize-control-ast-spacing {
  ul.ast-spacing-wrapper {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  li.ast-spacing-input-item {
    display: inline-block;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
  .ast-spacing-input-item {
    margin-bottom: 0;
  }
  span {
    &.ast-spacing-unit {
      position: absolute;
      top: -26px;
      right: 0;
      font-size: 12px;
      font-weight: bold;
    }
    &.ast-spacing-title {
      display: block;
    }
  }
  input.ast-spacing-input {
    text-align: center;
    border-radius: 3px 0 0 3px;
    display: block;
    font-size: 12px;
    padding: 4px 0;
    width: 100%;
    height: 28px;
    border: 1px solid;
    border-color: #a4afb7;
    box-shadow: none;
  }
  .ast-spacing-connected {
    color: #1e8cbe;
  }
}