.customize-control-ast-responsive-color .wp-picker-container {
  float: right;
}

.customize-control-ast-responsive-color .wp-picker-clear {
  margin-right: 1%;
}

.customize-control-ast-responsive-color button.button.wp-color-result.wp-picker-open {
  margin: 0px 0px 6px 3px !important;
}

.customize-control-ast-responsive-color .customize-control-content .wp-picker-container {
  display: none;
}

.customize-control-ast-responsive-color .customize-control-content .wp-picker-container.active {
  display: block;
}

.wp-picker-container.wp-picker-active .wp-picker-open {
  margin: 0px 0px 6px 3px;
}
