.customize-control-ast-color {
  .wp-color-result span {
    background: #f7f7f7;
    &.color-alpha {
      height: 22px !important;
    }
  }
  .wp-picker-clear {
    margin-left: 2%;
  }
}

.wp-picker-input-wrap label {
  font-size: 0;
}

@media (max-width: 1755px) {
  .iris-picker.iris-border {
    width: 245px !important;
  }
  .iris-slider.iris-strip, .iris-strip.iris-slider.iris-alpha-slider {
    width: 13px !important;
    margin-left: 8px !important;
  }
}

@media (min-width: 1900px) {
  .iris-slider.iris-strip, .iris-strip.iris-slider.iris-alpha-slider {
    /*rtl:ignore*/
    margin-left: 8px !important;
  }
}
