.ast-sidebar-container .ast-sidebar-layout-meta-wrap .components-input-control__container .components-select-control__input {
	padding: 3px 24px 3px 8px;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 3px;
}
.ast-sidebar-layout-meta-wrap .components-toggle-control label {
	font-size : 14px;
}
.ast-sidebar-layout-meta-wrap .components-toggle-control {
	margin-bottom: 15px;
}
.ast-radio-image-controller .customize-control-title {
	font-weight: 500;
}
.ast-sidebar-layout-meta-wrap {
	margin-bottom: 13px;
}
.ast-meta-settings-divider:before {
    width: auto;
    margin: 1px -16px;
}
.ast-meta-settings-divider {
	padding-top: 10px;
}
.ast-meta-settings-divider:before {
    content: '';
    display: block;
    height: 1px;
    background: #e2e4e7;
}
.ast-meta-settings-title:not([data-type='ast-first']) {
	padding-top: 4px;
}
.ast-meta-settings-title {
	font-size: 13px;
	font-weight: 700;
}
.ast-radio-image-controller input {
	display: none;
}
.ast-radio-image-controller input:checked + label svg {
    color: var(--wp-admin-theme-color);
	background: var(--wp-admin-theme-color);
	border-color: transparent;
	box-shadow: 0 12px 20px -8px rgb(30 41 59 / 16%);
	border-bottom-color: #f0f0f1;
	border-radius: 4px;
	opacity: 1;
}
.ast-radio-image-controller > .options-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 23px;
    grid-row-gap: 23px;
}
.ast-radio-image-controller .ast-radio-img-svg svg {
    color: #A0AEC0;
    width: 100%;
    height: auto;
	background: rgba(221,224,226,.5);
	border: 1px solid var(--ast-customizer-color-7);
	border-radius: 4px;
    transition: all 0.2s;
	transition: 0.06s all;
}

.ast-radio-image-controller label {
    position: relative;
    display: inline-block;
}
.ast-radio-image-controller input + label .image-clickable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
div#astra_settings_meta_box {
    padding: 0;
	overflow: hidden;
}
.components-panel__body .components-base-control__field {
    padding: 5px 0 0;
}
.ast-meta-selector-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ast-meta-selector-wrapper .ast-selector-inner-wrap {
    flex: 1 1 auto;
    display: flex;
}
.ast-selector-inner-wrap .components-button {
    white-space: nowrap;
    background: rgba(255,255,255,0);
    color: rgba(0, 0, 0, 0.966);
    text-decoration: none;
    text-shadow: none;
    outline: unset;
    border: 1px solid #d2d2d2;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border-radius: unset;
    transition: none;
    font-size: 12px;
    padding: 8px 12px;
}
.ast-selector-inner-wrap .components-button.is-primary {
    color: #ffffff;
    background: #007cba;
}
.ast-meta-selector-controller .ast-selector-inner-wrap:first-child .components-button {
    border-radius: 2px 0px 0px 2px;
}
.ast-meta-selector-controller .ast-selector-inner-wrap:not(:first-child) .components-button {
    margin-left: -1px;
}
.ast-meta-selector-controller .ast-selector-inner-wrap:not(:first-child):not(:last-child) .components-button {
    border-right: none;
}
.ast-meta-selector-controller .ast-selector-inner-wrap:last-child .components-button {
    border-radius: 0px 2px 2px 0px;
}
.ast-meta-selector-controller .ast-selector-inner-wrap .components-button:focus:not(:disabled) {
    box-shadow: none;
}
.components-toggle-control .components-base-control__field {
	justify-content: space-between;
	flex-direction: row-reverse;
	margin-bottom: 0;
}
.ast-custom-layout-panel .components-button {
	padding-right: 15px;
}
.ast-title-container {
	-js-display: flex;
	display: flex;
	flex-grow: 1;
}
/**
 * Popup content compat CSS.
 */
.ast-header-settings-modal {
    min-width: auto;
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 2px;
    max-height: 600px;
    top: 45%;box-shadow: 0px 10px 36px -10px rgb(0 0 0 / 25%);
}
.components-modal__icon-container {
    margin-right: 15px;
    margin-top: 5px;
}
.ast-header-settings-modal .components-modal__content {
    -js-display: flex;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.ast-header-settings-modal .components-modal__content::before {
    margin-bottom: 0;
}
.ast-header-settings-modal .components-modal__header {
    padding-left: 24px;
    padding-right: 0;
    border-bottom: 0;
    margin: 0;
    border-radius: 2px 2px 0px 0px;
    box-shadow: 0px 6px 8px -3px rgb(0 0 0 / 5%), 0px 4px 6px -2px rgb(0 0 0 / 5%);
}
.ast-meta-settings-content {
    overflow-y: auto;
    margin: 0;
    padding: 0;
}
.ast-meta-settings-hook-table.widefat {
    border-width: 0;
}
.ast-meta-settings-hook-table:last-of-type {
    border-bottom-width: 0;
}
.ast-extra-spacing .ast-border {
    border-right: 1px solid #E1E1E1;
}
.ast-extra-spacing-bottom td {
    border-bottom: 1px solid #E1E1E1;
}
td.ast-advanced-hook-row-heading {
    border-right: 1px solid #E1E1E1;
    padding: 12px 20px 12px 25px;
    width: 25%;
    vertical-align: middle;
}
.ast-meta-settings-hook-table .ast-advanced-hook-row-content {
    padding: 12px 20px 12px 25px;
    position: relative;
    width: 75%;
}
.ast-time-duration .ast-advanced-hook-row td {
    border-bottom: 0;
}

.ast-cl-footer-container {
    position: sticky;
    bottom: 0;
    border-radius: 0px 0px 2px 2px;
    background: #FFF;
    z-index: 9;
    box-shadow: 0px -6px 8px -3px rgb(0 0 0 / 5%), 0px -4px 6px -2px rgb(0 0 0 / 5%);
}
.ast-button-container {
    -js-display: flex;
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 14px 24px;
}
.ast-cl-popup-notice {
    -js-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}
.ast-button-container button.button {
    min-height: 35px;
    background-color: #FFF;
}
.ast-cl-popup-notice .dashicons {
    font-size: 22px;
    color: #1F2937;
    margin-right: 10px;
}
.components-modal__header .components-button svg {
    width: 35px;
    height: 35px;
}
.ast-header-settings-modal .components-modal__header-heading-container {
	justify-content: initial;
}
.components-modal__header .components-button {
    width: 60px;
    height: 60px;
    right: 0;
    bottom: 0;
    left: auto;
}
.components-button:focus:not(:disabled) {
    box-shadow: none;
    outline: 0;
}
.ast-advanced-hook-row-content section {
    max-width: 250px;
}
.ast-advanced-hook-row-content .components-toggle-control:not(:last-child) {
	margin-bottom: 20px;
}
.ast-meta-image-tooltip {
	position: absolute;
	z-index: 200;
	width: auto;
	height: 26px;
	padding: 0 6px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: initial;
	text-transform: initial;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
	border-radius: 2px;
	pointer-events: none;
	color: #fff;
	background: #1e1e1e;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),visibility 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transform: translate3d(0px, -30px, 0px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: inherit;
}
.ast-radio-img-svg:hover .ast-meta-image-tooltip {
	opacity: 1;
	visibility: visible;
}
