.astra-review-notice-container {
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.astra-review-notice-container .dashicons {
    font-size: 1.4em;
	padding-left: 10px;
}

.astra-review-notice-container a {
    padding-left: 5px;
    text-decoration: none;
}

.astra-review-notice-container .dashicons:first-child {
    padding-left: 0;
}

.notice-image img {
    max-width: 90px;
}

.notice-content .notice-heading {
    padding-bottom: 5px;
}

.notice-content {
    margin-left: 15px;
}

.notice-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#astra-sites-on-active .notice-image img, #astra-upgrade-pro-wc .notice-image img {
    max-width: 50px;
    margin-left: 5px;
}

#astra-sites-on-active .notice-content .notice-heading, #astra-upgrade-pro-wc .notice-content .notice-heading {
    margin: 0 0 10px;
    padding: 0;
    font-weight: 600;
    font-size: 1.3em;
    color: #1E293B;
}

#astra-sites-on-active .notice-content p, #astra-upgrade-pro-wc .notice-content p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 6px;
	color: #475569;
}

#astra-sites-on-active .notice-container, #astra-upgrade-pro-wc .notice-container {
    padding: 18px 0 18px;
    align-items: start;
}

#astra-sites-on-active .button.button-hero {
    font-size: 13px;
    min-height: 30px;
    line-height: 26px;
    padding: 0 12px;
    height: 30px;
}

#astra-sites-on-active .astra-review-notice-container, #astra-upgrade-pro-wc .astra-review-notice-container {
    padding-top: 5px;
}

#astra-sites-on-active .button-primary, #astra-upgrade-pro-wc .button-primary {
    box-shadow: 0 1px 0 #006799;
}

#astra-sites-on-active .button.updating-message:before,
#astra-sites-on-active .button.updated-message:before,
#astra-sites-on-active .button.installed:before,
#astra-sites-on-active .button.installing:before {
	margin: 4px 5px 0px -1px;
}
